In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

### Budget allocation

In [2]:
channel_df = pd.read_csv('channel_spend_graduate.csv')

In [3]:
channel_df.head()

    channel    date  spend_AED
0      bing  201907        400
1   display  201907         12
2  facebook  201907       9000
3    search  201907      13000
4   youtube  201907         90

In [4]:
channel_df.value_counts()

channel   date    spend_AED
bing      201907  400          1
          201908  900          1
facebook  202001  11000        1
          202002  14000        1
search    201907  13000        1
          201908  18500        1
          201909  19000        1
          201910  24000        1
          201911  25000        1
          201912  38000        1
          202001  41000        1
          202002  44000        1
youtube   201907  90           1
          201908  180          1
          201909  100          1
          201910  130          1
          201911  550          1
          201912  900          1
          202001  4360         1
facebook  201912  16000        1
          201911  23000        1
          201910  17000        1
display   201908  20           1
bing      201909  1000         1
          201910  1100         1
          201911  1300         1
          201912  300          1
          202001  2100         1
          202002  3700         1
display   201907  12           1
          201909  13           1
facebook  201909  10500        1
display   201910  19           1
          201911  29           1
          201912  31           1
          202001  148          1
          202002  94           1
facebook  201907  9000         1
          201908  13000        1
youtube   202002  2420         1
dtype: int64

### Consumer segementation

In [24]:
subscriber = pd.read_csv('subscribers.csv')
engagement = pd.read_csv('CQM_engagement_4mo_en.csv')

In [25]:
subscriber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 31 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  192054 non-null  object
 3   num_weekly_services_utilized  117178 non-null  float64
 4   preferred_genre               191302 non-null  object
 5   intended_use                  224079 non-null  object
 6   weekly_consumption_hour       189698 non-null  float64
 7   num_ideal_streaming_services  115458 non-null  float64
 8   age                           192459 non-null  float64
 9   male_TF                       227359 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            224984 non-null  object
 13  op_sys                        214253 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      192724 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  92050 non-null   object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  last_payment                  132237 non-null  object
 28  next_payment                  130250 non-null  object
 29  cancel_date                   36831 non-null   object
 30  trial_completed               227628 non-null  bool
dtypes: bool(3), float64(7), int64(5), object(16)
memory usage: 49.3+ MB

In [26]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13843003 entries, 0 to 13843002
Data columns (total 11 columns):
 #   Column               Dtype
---  ------               -----
 0   access_code          object
 1   subscription_id      int64
 2   date                 object
 3   app_opens            int64
 4   coach_messages       int64
 5   content              int64
 6   content_assignments  int64
 7   exercises            int64
 8   food_logs            int64
 9   group_posts          int64
 10  weigh_ins            int64
dtypes: int64(9), object(2)
memory usage: 1.1+ GB

In [27]:
id_engagement = engagement.groupby('subscription_id').mean().reset_index()
id_engagement.rename(columns={'subscription_id':'subid'},inplace=True)

In [28]:
id_engagement.head(3)

,subid,app_opens,coach_messages,content,content_assignments,exercises,food_logs,group_posts,weigh_ins
0,14573952,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,14573955,1.411765,0.176471,1.764706,3.558824,0.632353,1.808824,0.058824,0.764706
2,14573964,0.846154,0.384615,3.307692,4.692308,0.000000,3.076923,0.000000,0.769231

In [29]:
subscriber.head(3).T

,0,1,2
Unnamed: 0,162502,380374,496617
subid,21724479,23383224,26844789
package_type,economy,base,enhanced
num_weekly_services_utilized,NaN,NaN,3.0
preferred_genre,comedy,comedy,regional
intended_use,access to exclusive content,access to exclusive content,replace OTT
weekly_consumption_hour,NaN,22.951579,36.001186
num_ideal_streaming_services,NaN,NaN,2.0
age,NaN,70.0,25.0
male_TF,False,False,True
country,UAE,UAE,UAE
attribution_technical,facebook,facebook,organic
attribution_survey,facebook,facebook,facebook
op_sys,Android,NaN,iOS
months_per_bill_period,4,4,4
plan_type,base_uae_14_day_trial,base_uae_14_day_trial,base_uae_14_day_trial
monthly_price,4.7343,4.7343,4.7343
discount_price,4.5141,4.5141,4.5141
account_creation_date,2020-01-24 21:44:16,2020-03-01 15:44:35,2019-12-07 16:37:06
trial_end_date,2020-02-07 21:44:16,2020-03-15 15:44:35,2019-12-21 16:37:06
initial_credit_card_declined,False,False,False
join_fee,NaN,0.3303,0.1101
language,ar,ar,ar
payment_type,Standard Charter,NaN,NaN
num_trial_days,14,14,14
current_sub_TF,True,True,False
payment_period,1,1,0
last_payment,2020-02-07 21:44:16,2020-03-15 15:44:35,NaN
next_payment,2020-06-07 21:44:16,2020-07-15 15:44:35,NaN
cancel_date,NaN,NaN,NaN
trial_completed,True,True,True

In [30]:
subscriber = subscriber.merge(id_engagement,on='subid',how='left')

In [31]:
subscriber.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227628 entries, 0 to 227627
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  192054 non-null  object
 3   num_weekly_services_utilized  117178 non-null  float64
 4   preferred_genre               191302 non-null  object
 5   intended_use                  224079 non-null  object
 6   weekly_consumption_hour       189698 non-null  float64
 7   num_ideal_streaming_services  115458 non-null  float64
 8   age                           192459 non-null  float64
 9   male_TF                       227359 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            224984 non-null  object
 13  op_sys                        214253 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      192724 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  92050 non-null   object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  last_payment                  132237 non-null  object
 28  next_payment                  130250 non-null  object
 29  cancel_date                   36831 non-null   object
 30  trial_completed               227628 non-null  bool
 31  app_opens                     3008 non-null    float64
 32  coach_messages                3008 non-null    float64
 33  content                       3008 non-null    float64
 34  content_assignments           3008 non-null    float64
 35  exercises                     3008 non-null    float64
 36  food_logs                     3008 non-null    float64
 37  group_posts                   3008 non-null    float64
 38  weigh_ins                     3008 non-null    float64
dtypes: bool(3), float64(15), int64(5), object(16)
memory usage: 64.9+ MB

In [38]:
# split subscribers according to cancel status
subscriber['cancel_status'] = subscriber['cancel_date'].apply(lambda x: 0 if x is np.nan else 1)
leave_df = subscriber[subscriber['cancel_status']==1]
stay_df = subscriber[subscriber['cancel_status']==0]

In [39]:
# filter out the feature of consumsers' characteristics
drop_list= ['Unnamed: 0','subid','account_creation_date','trial_end_date','last_payment',
            'next_payment','cancel_date','payment_type','join_fee',
            'num_weekly_services_utilized','num_ideal_streaming_services']
stay_df2 = stay_df.drop(drop_list, axis=1)

In [40]:
# fill NAs of engagement with 0
for col in id_engagement.columns[1:]:
    stay_df2[col] = stay_df2[col].fillna(0)

In [41]:
stay_df2.dropna(inplace=True)

In [42]:
# convert the bool type variables
stay_df2['initial_credit_card_declined_status'] = stay_df2['initial_credit_card_declined']\
.apply(lambda x: 1 if x is True else 0)
stay_df2['current_sub_status'] = stay_df2['current_sub_TF'].apply(lambda x: 1 if x is True else 0)
stay_df2['trial_completed_status'] = stay_df2['trial_completed'].apply(lambda x: 1 if x is True else 0)
stay_df2['gender'] = stay_df2['male_TF'].apply(lambda x: 1 if x is 'True' else 0)
stay_df3 = stay_df2.drop(['initial_credit_card_declined','current_sub_TF','trial_completed','male_TF'],axis = 1)

In [43]:
stay_df3

,package_type,preferred_genre,intended_use,weekly_consumption_hour,age,country,attribution_technical,attribution_survey,op_sys,months_per_bill_period,...,content_assignments,exercises,food_logs,group_posts,weigh_ins,cancel_status,initial_credit_card_declined_status,current_sub_status,trial_completed_status,gender
2,enhanced,regional,replace OTT,36.001186,25.0,UAE,organic,facebook,iOS,4,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
3,base,drama,replace OTT,20.051667,30.0,UAE,search,tv,Android,4,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
4,base,comedy,replace OTT,22.951579,28.0,UAE,discovery,youtube,iOS,4,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0
6,base,comedy,access to exclusive content,20.051667,61.0,UAE,bing,search,Android,4,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0
7,base,drama,access to exclusive content,34.551230,23.0,UAE,email,referral,iOS,4,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227621,enhanced,comedy,access to exclusive content,28.751405,61.0,UAE,affiliate,facebook,Android,4,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0
227622,base,drama,access to exclusive content,24.401536,43.0,UAE,email,pinterest,iOS,4,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0
227623,enhanced,comedy,supplement OTT,28.751405,38.0,UAE,facebook,facebook_organic,iOS,4,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0
227624,enhanced,comedy,replace OTT,27.301448,49.0,UAE,google_organic,referral,iOS,4,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0
227625,base,comedy,access to exclusive content,31.651317,45.0,UAE,facebook,facebook,iOS,4,...,0.0,0.0,0.0,0.0,0.0,0,1,1,1,0

In [44]:
stay_df3.to_csv('stay_df3.csv',index=False)

In [70]:
# convert object type variables into dummies
stay_df3 = pd.get_dummies(stay_df3,prefix='package_type',prefix_sep='_',columns=['package_type'])
stay_df3 = pd.get_dummies(stay_df3,prefix='preferred_genre',prefix_sep='_',columns=['preferred_genre'])
stay_df3 = pd.get_dummies(stay_df3,prefix='intended_use',prefix_sep='_',columns=['intended_use'])
stay_df3 = pd.get_dummies(stay_df3,prefix='country',prefix_sep='_',columns=['country'])
stay_df3 = pd.get_dummies(stay_df3,prefix='attribution_technical',prefix_sep='_',columns=['attribution_technical'])
stay_df3 = pd.get_dummies(stay_df3,prefix='attribution_survey',prefix_sep='_',columns=['attribution_survey'])
stay_df3 = pd.get_dummies(stay_df3,prefix='op_sys',prefix_sep='_',columns=['op_sys'])
stay_df3 = pd.get_dummies(stay_df3,prefix='plan_type',prefix_sep='_',columns=['plan_type'])
stay_df3 = pd.get_dummies(stay_df3,prefix='language',prefix_sep='_',columns=['language'])

In [71]:
stay_df3.columns

Index(['weekly_consumption_hour', 'age', 'months_per_bill_period',
       'monthly_price', 'discount_price', 'num_trial_days', 'payment_period',
       'app_opens', 'coach_messages', 'content', 'content_assignments',
       'exercises', 'food_logs', 'group_posts', 'weigh_ins', 'cancel_status',
       'initial_credit_card_declined_status', 'current_sub_status',
       'trial_completed_status', 'gender', 'package_type_base',
       'package_type_economy', 'package_type_enhanced',
       'preferred_genre_comedy', 'preferred_genre_drama',
       'preferred_genre_international', 'preferred_genre_other',
       'preferred_genre_regional', 'intended_use_access to exclusive content',
       'intended_use_education', 'intended_use_expand international access',
       'intended_use_expand regional access', 'intended_use_other',
       'intended_use_replace OTT', 'intended_use_supplement OTT',
       'country_UAE', 'attribution_technical_affiliate',
       'attribution_technical_appstore', 'attribution_technical_bing',
       'attribution_technical_bing_organic',
       'attribution_technical_brand sem intent bing',
       'attribution_technical_brand sem intent google',
       'attribution_technical_content_greatist',
       'attribution_technical_criteo', 'attribution_technical_direct_mail',
       'attribution_technical_discovery', 'attribution_technical_display',
       'attribution_technical_email', 'attribution_technical_email_blast',
       'attribution_technical_facebook',
       'attribution_technical_facebook_organic',
       'attribution_technical_google_organic',
       'attribution_technical_influencer', 'attribution_technical_internal',
       'attribution_technical_organic', 'attribution_technical_other',
       'attribution_technical_ott', 'attribution_technical_pinterest',
       'attribution_technical_pinterest_organic',
       'attribution_technical_playstore', 'attribution_technical_podcast',
       'attribution_technical_quora', 'attribution_technical_referral',
       'attribution_technical_samsung', 'attribution_technical_search',
       'attribution_technical_tv', 'attribution_technical_vod',
       'attribution_technical_youtube', 'attribution_survey_affiliate',
       'attribution_survey_amfm_radio', 'attribution_survey_direct_mail',
       'attribution_survey_facebook', 'attribution_survey_facebook_organic',
       'attribution_survey_other', 'attribution_survey_ott',
       'attribution_survey_pinterest', 'attribution_survey_podcast',
       'attribution_survey_public_radio', 'attribution_survey_referral',
       'attribution_survey_search', 'attribution_survey_sirius xm',
       'attribution_survey_social_organic', 'attribution_survey_tv',
       'attribution_survey_youtube', 'op_sys_Android', 'op_sys_iOS',
       'plan_type_base_eur_14_day_trial', 'plan_type_base_uae_14_day_trial',
       'plan_type_high_aud_14_day_trial', 'plan_type_high_sar_14_day_trial',
       'plan_type_high_uae_14_day_trial', 'plan_type_low_gbp_14_day_trial',
       'language_ar'],
      dtype='object')

In [54]:
# numeric_var = stay_df2[['weekly_consumption_hour','age','months_per_bill_period',
#                        'monthly_price','discount_price','num_trial_days','payment_period']]

In [72]:
stay_df3_normalized = preprocessing.normalize(stay_df3, norm='l2')

In [73]:
norm_df3 = pd.DataFrame(stay_df3_normalized)
norm_df3.columns = stay_df3.columns

In [74]:
norm_df3

,weekly_consumption_hour,age,months_per_bill_period,monthly_price,discount_price,num_trial_days,payment_period,app_opens,coach_messages,content,...,attribution_survey_youtube,op_sys_Android,op_sys_iOS,plan_type_base_eur_14_day_trial,plan_type_base_uae_14_day_trial,plan_type_high_aud_14_day_trial,plan_type_high_sar_14_day_trial,plan_type_high_uae_14_day_trial,plan_type_low_gbp_14_day_trial,language_ar
0,0.770024,0.534721,0.085555,0.101261,0.096551,0.299444,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.021389,0.0,0.021389,0.0,0.0,0.0,0.0,0.021389
1,0.506565,0.757890,0.101052,0.119603,0.114040,0.353682,0.000000,0.0,0.0,0.0,...,0.000000,0.025263,0.000000,0.0,0.025263,0.0,0.0,0.0,0.0,0.025263
2,0.577306,0.704290,0.100613,0.119083,0.113544,0.352145,0.050306,0.0,0.0,0.0,...,0.025153,0.000000,0.025153,0.0,0.025153,0.0,0.0,0.0,0.0,0.025153
3,0.302639,0.920671,0.060372,0.071455,0.068131,0.211302,0.015093,0.0,0.0,0.0,...,0.000000,0.015093,0.000000,0.0,0.015093,0.0,0.0,0.0,0.0,0.015093
4,0.774610,0.515641,0.089677,0.106139,0.101202,0.313868,0.022419,0.0,0.0,0.0,...,0.000000,0.000000,0.022419,0.0,0.022419,0.0,0.0,0.0,0.0,0.022419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124885,0.414368,0.879138,0.057648,0.068231,0.065058,0.201769,0.014412,0.0,0.0,0.0,...,0.000000,0.014412,0.000000,0.0,0.014412,0.0,0.0,0.0,0.0,0.014412
124886,0.468635,0.825820,0.076821,0.090923,0.086694,0.268872,0.019205,0.0,0.0,0.0,...,0.000000,0.000000,0.019205,0.0,0.019205,0.0,0.0,0.0,0.0,0.019205
124887,0.570771,0.754373,0.079408,0.093985,0.089614,0.277927,0.019852,0.0,0.0,0.0,...,0.000000,0.000000,0.019852,0.0,0.019852,0.0,0.0,0.0,0.0,0.019852
124888,0.467312,0.838721,0.068467,0.081036,0.077267,0.239635,0.017117,0.0,0.0,0.0,...,0.000000,0.000000,0.017117,0.0,0.017117,0.0,0.0,0.0,0.0,0.017117
124889,0.551430,0.783992,0.069688,0.082481,0.078645,0.243908,0.017422,0.0,0.0,0.0,...,0.000000,0.000000,0.017422,0.0,0.017422,0.0,0.0,0.0,0.0,0.017422